<section class="follow-us">
  <h2><span>Seguinos</span></h2>
  <div class="social-buttons">
    <a href="#" class="social-button">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="social-button">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#" class="social-button">
      <i class="fab fa-youtube"></i>
    </a>
  </div>
</section>
