<footer>
  <div class="colum-footer">
    <h3>Navegacion</h3>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Nosotros</a></li>
    </ul>
  </div>
  <div class="colum-footer">
    <h3>Servicios</h3>
    <ul>
      <li><a href="#">Servicio 1</a></li>
      <li><a href="#">Servicio 2</a></li>
      <li><a href="#">Servicio 3</a></li>
    </ul>
  </div>
  <div class="colum-footer">
    <h3>Legal</h3>
    <ul>
      <li><a href="#">Termino y Condiciones</a></li>
      <li><a href="#">Politica y Privacidad</a></li>
      <li><a href="#">Terminos de Uso</a></li>
    </ul>
  </div>
  <div class="copyrigth">
    <p>Copyrigth © Grupo 3 | Sabores de Catamarca</p>
  </div>
</footer>
<script src="js/burger.js"></script>
</body>
</html>