<header>
  <div class="logo">
    <a href="/">
      <img src="/images/logo_sabores_de_catamarca.png" alt="Sabores de Catamarca" />
    </a>
  </div>

  <div class="centered-header">
    <div class="search-header">
      <input type="search" />
      <div class="search-icon">
        <i class="fas fa-search"></i>
      </div>
    </div>
    <div class="menu-list">
      <nav>
        <ul class="main-menu">
          <li>
            <a href="/"><i class="fa-solid fa-house"></i>Inicio</a>
          </li>
          <li>
            <a href="/products"><i class="fa-solid fa-bag-shopping"></i>Productos</a>
          </li>
          <li>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i>Carrito</a>
          </li>
        </ul>
      </nav>
      <nav class="nav" id="nav">
        <button class="cerrar-menu" id="cerrar">
          <i class="bi bi-x"></i>
        </button>
        <ul class="nav-list">
          <li><a href="#">Contacto</a></li>
          <li><a href="/about">Quienes somos</a></li>
          <li><a href="#" class="item-movil">Iniciar sesi&oacute;n</a></li>
          <li><a href="#" class="item-movil">Cerrar sesi&oacute;n</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <button class="abrir-menu" id="abrir">
    <i class="bi bi-list"></i>
  </button>

  <div class="account-cart">
    <div class="cart">
      <a href="/productCart">Carrito <i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <div class="account-link">
      <div>
        <!-- <a href="/signup">Crear cuenta <i class="fa-solid fa-user-plus"></i></a> -->
        <a href="/products/create"> Crear Producto <i class="fa-solid fa-circle-plus"></i></a>
      </div>
      <div>
        <a href="/signin">Iniciar sesi&oacute;n <i class="fa-solid fa-right-to-bracket"></i></a>
        <a href="/signout">Cerrar sesi&oacute;n <i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
    </div>
  </div>
</header>