<header>
  <div class="logo">
    <a href="/">
      <img
        src="images/logo_sabores_de_catamarca.png"
        alt="Sabores de Catamarca"
    /></a>
  </div>
  <div class="centered-header">
    <div class="search-header">
      <input type="search" />
      <div class="search-icon">
        <i class="fas fa-search"></i>
      </div>
    </div>
    <div>
      <nav>
        <ul class="main-menu">
          <li>
            <a href="/"><i class="fa-solid fa-house"></i>Inicio</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-bag-shopping"></i>Productos</a>
          </li>
          <li>
            <a href="/productCart"
              ><i class="fa-solid fa-cart-shopping"></i>Carrito</a
            >
          </li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Nosotros</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="account-cart">
    <div class="cart">
      <a href="/productCart"
        >Carrito <i class="fa-solid fa-cart-shopping"></i
      ></a>
    </div>
    <div class="account-link">
      <a href="/signup">Crear cuenta</a>
      <a href="/signin">Iniciar sesi&oacute;n</a>
      <a href="/signout">Cerrar sesi&oacute;n</a>
    </div>
  </div>
</header>
