<%- include('partials/head') %>

<%- include('partials/header') %>
    <main class="container">
      <section>
        <h2>Descubre la Esencia de Sabores de Catamarca</h2>
        <img src="images/madera.png" alt="">
        <p>En el corazón de la encantadora región de Catamarca, nace Sabores de Catamarca, una empresa familiar arraigada en la
        rica tradición agrícola de la zona. Desde nuestros humildes comienzos, nos hemos dedicado apasionadamente a compartir
        los tesoros ocultos de esta tierra con el mundo.</p>
        <p>Nuestra historia se remonta a décadas atrás, cuando la pasión por la autenticidad y la calidad nos impulsó a iniciar
        este viaje gastronómico. Inspirados por la magnificencia de nuestra tierra y la dedicación de nuestros agricultores
        locales, nos hemos comprometido a elaborar y comercializar productos regionales excepcionales, utilizando exclusivamente
        materia prima local de la más alta calidad.</p>
        <p>En Sabores de Catamarca, no solo nos esforzamos por ofrecer productos frescos y deliciosos, sino que también nos
        comprometemos a preservar y proteger el entorno que tanto amamos. Cada paso de nuestro proceso está imbuido de amor y
        respeto por la naturaleza, reflejando nuestra profunda conexión con la tierra y las comunidades que nos rodean.</p>
        <p>Somos más que una empresa; somos una familia apasionada que se enorgullece de celebrar la riqueza y la diversidad de
        nuestra región. Desde nuestras exquisitas aceitunas hasta nuestros dulces regionales artesanales y nuestro renombrado
        aceite de oliva, cada producto de Sabores de Catamarca cuenta una historia de tradición, calidad y sabor incomparables.</p>
        <p>Te invitamos a unirte a nosotros en este emocionante viaje gastronómico. Descubre la autenticidad, el sabor y la pasión que solo Sabores de Catamarca puede ofrecer. ¡Bienvenido a nuestra familia!</p>
      </section>
    </main>
<%- include('partials/footer') %>