<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/a75c503483.js"
      crossorigin="anonymous"
    ></script>
    <title>Sabores de Catamarca - Detalle de Producto</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="images/logo_sabores_de_catamarca.png"
          alt="Sabores de Catamarca"
        />
      </div>
      <div class="centered-header">
        <div class="search-header">
          <input type="search" />
          <div class="search-icon">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <div>
          <nav>
            <ul class="main-menu">
              <li>
                <a href="/"><i class="fa-solid fa-house"></i>Inicio</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-bag-shopping"></i>Productos</a
                >
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a>
              </li>
              <li><a href="#">Contacto</a></li>
              <li><a href="#">Nosotros</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="account-cart">
        <div class="cart">
          <a href="/productCart"
            >Carrito <i class="fa-solid fa-cart-shopping"></i
          ></a>
        </div>
        <div class="account-link">
          <a href="/signup">Crear cuenta</a>
          <a href="/signin#">Iniciar sesi&oacute;n</a>
          <a href="/signout#">Cerrar sesi&oacute;n</a>
        </div>
      </div>
    </header>
    <main>
      <div class="breadcumb">
        <nav class="breadcrumb">
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Producto</a></li>
            <li><span>Nombre del Producto</span></li>
          </ul>
        </nav>
      </div>
      <section class="detail container">
        <div class="img-detail">
          <img src="images/cayote.jpg" alt="Nombre del Producto" />
        </div>
        <div class="description-detail">
          <h3>Nombre del Producto</h3>
          <div class="product-ranking">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="price">$ 00.000,00</div>
          <h4>Medios de Pago</h4>
          <h4>Detalles del producto</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil a quo
            id quae aliquam tempora excepturi nobis sed? Voluptate quas ipsum
            sunt repudiandae, atque suscipit laborum maiores eos assumenda
            aliquid.
          </p>
          <a href="/productCart" class="button">Agregar al Carrito</a>
        </div>
      </section>
      <section class="featured-products container">
        <h2><span>Productos Relacionados</span></h2>
        <div class="card-grid">
          <div class="card">
            <img src="images/cayote.jpg" alt="Imagen del producto" />
            <h3>Nombre del producto</h3>
            <p>Descripción del producto</p>
            <a href="/productDetail" class="button">Ver más</a>
          </div>
          <div class="card">
            <img src="images/cayote.jpg" alt="Imagen del producto" />
            <h3>Nombre del producto</h3>
            <p>Descripción del producto</p>
            <a href="/productDetail" class="button">Ver más</a>
          </div>
          <div class="card">
            <img src="images/cayote.jpg" alt="Imagen del producto" />
            <h3>Nombre del producto</h3>
            <p>Descripción del producto</p>
            <a href="/productDetail" class="button">Ver más</a>
          </div>
          <div class="card">
            <img src="images/cayote.jpg" alt="Imagen del producto" />
            <h3>Nombre del producto</h3>
            <p>Descripción del producto</p>
            <a href="/productDetail" class="button">Ver más</a>
          </div>
        </div>
      </section>
      <section class="follow-us">
        <h2><span>Seguinos</span></h2>
        <div class="social-buttons">
          <a href="#" class="social-button">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-button">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="social-button">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </section>
    </main>
    <footer>
      <div class="colum-footer">
        <h3>Navegacion</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Nosotros</a></li>
        </ul>
      </div>
      <div class="colum-footer">
        <h3>Servicios</h3>
        <ul>
          <li><a href="#">Servicio 1</a></li>
          <li><a href="#">Servicio 2</a></li>
          <li><a href="#">Servicio 3</a></li>
        </ul>
      </div>
      <div class="colum-footer">
        <h3>Legal</h3>
        <ul>
          <li><a href="#">Termino y Condiciones</a></li>
          <li><a href="#">Politica y Privacidad</a></li>
          <li><a href="#">Terminos de Uso</a></li>
        </ul>
      </div>
      <div class="copyrigth">
        <p>Copyrigth © Grupo 3 | Sabores de Catamarca</p>
      </div>
    </footer>
  </body>
</html>
