<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <section class="container">
      <h2><span>INICIAR SESI&Oacute;N</span></h2>

      <div class="form-area">
        <form action="#" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="form-group">
            <label for="password">Contrase&ntilde;a</label>
            <input type="password" name="password" id="password" />
          </div>

          <p id="ya_tenes_cuenta">
            <span><a href="#">Olvidaste tu contrase&ntilde;a?</a></span>
          </p>

          <div class="form-group">
            <button>INICIAR SESI&Oacute;N</button>
            <p id="ya_tenes_cuenta">
              No tenes cuenta?<span><a href="/signup">Crear cuenta</a></span>
            </p>
          </div>
        </form>
      </div>
    </section>
    <%- include('../partials/follow-us') %> <%- include('../partials/footer') %>
  </body>
</html>
