<%- include('../admin/header') %>

  <div>
    <form action="/products/<%= product.id %>?_method=DELETE" method="post">
      <p>Confirma borrar el producto "<%= product.name %>"?</p>
      <a href="/products">Cancelar</a>
      <button type="submit" class="btn btn-primary btn-sm">Confirmar</button>
    </form>
  </div>

<%- include('../admin/footer') %>
